JARVIS_ENVIRONMENT=development
JARVIS_SERVICE_NAME=jarvis-api
JARVIS_DATABASE_URL=postgresql://jarvis:jarvis@localhost:5432/jarvis
JARVIS_DATABASE_SCHEMA=public
JARVIS_DATABASE_CONNECT_TIMEOUT_SECONDS=2

POSTGRES_DB=jarvis
POSTGRES_USER=jarvis
POSTGRES_PASSWORD=jarvis
POSTGRES_PORT=5432
